


body {
    background-color: #0E1323;
    font-family: "Rubik", sans-serif;
    color: #FFFFFF;
}


@mixin span-15px {
    font-size: 15px;
    font-weight: 400;
    color: #BBC0FF;
}

@mixin div-gen {
    width: 100%;
    height: 160px;
    border-radius: 15px;
    background-color: #1C204B;
}


main {
    max-width: 425px;
    margin: auto;
    padding: 81px 24px;
    box-sizing: border-box;

    display: flex;
    flex-direction: column;
    gap: 24px;

    .jeremy-robson-div {
        position: relative;
        width: 100%;
        height: 203px;
        border-radius: 15px;
        background-color: #1C204B;
        border-radius: 15px;
        display: flex;
        flex-direction: column;
        justify-content: end;
        align-items: start;
    }

    .report-for-div {
        background-color: #5747EA;
        width: 100%;
        padding: 35px 32px;
        box-sizing: border-box;
        display: flex;
        align-items: center;
        gap: 20px;
        border-radius: 15px;

        position: absolute;
        top: 0px;

        .user-img {
            width: 64px;
            border: 3px solid #FFFFFF;
            border-radius: 100%;
        }

        & div {

            & .report-for-span {
                display: block;
                @include span-15px;
            }

            .user-name {
                font-size: 24px;
                font-weight: 400;
                color: #FFFFFF;
            }


        }


    }

    .report-period {
        width: 100%;
        display: flex;
        justify-content: space-around;
        align-items: center;
        padding: 25px 0px;
        box-sizing: border-box;

        & input {
            position: absolute;
            visibility: hidden;
        }

        & label {
            cursor: pointer;
            color: #7078C9;
            transition: all 0.2s;

            &:hover {
                color: #FFFFFF
            }

        }

    }

}


.report {
    @include div-gen;    

    position: relative;


    &:hover {
        .report-details {
            background-color: #33397A;
            cursor: pointer;
        }
    }

    .report-background {
        height: 100%;
        border-radius: 15px;
        overflow: hidden;
        position: relative;

        .background {
            width: 100%;
            height: 100%;
            background-color: rgb(255, 139, 100);
            position: absolute;
            z-index: 3;
            opacity: 0.8;
            // border-radius: 15px;
        }

        .sky-blue-background {
            background-color: #55C2E6;
        }

        .pink-background {
            background-color: #FF5E7D;
        }

        .green-background {
            background-color: #4BCF82;
        }

        .purple-background {
            background-color: #7335D2;
        }

        .yellow-background {
            background-color: #F1C75B;
        }


        & img {
            position: absolute;
            z-index: 2;
            right: 18px;
            top: -15px;
        }
    }

    .report-details {
        background-color: #1C204B;
        position: absolute;
        width: 100%;
        z-index: 4;
        bottom: 0;
        border-radius: 15px;
        padding: 28px 24px;
        box-sizing: border-box;

        transition: all 0.2s;

        & div {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

        & div:last-child {
            margin-top: 8px;

            strong {
                font-size: 32px;
                font-weight: 400;
                color: #FFFFFF;
            }

            & span {
                @include span-15px;
            }
        }
    }

}





@media only screen and (min-width: 750px) {
    
    main {
        max-width: 750px;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;

        .jeremy-robson-div {
            grid-column: 1 / 2;
            grid-row: 1 / 4;
            height: 100% ;


           .report-for-div {

            width: 100%;
            padding: 38px 0px 80px 32px;
            flex-direction: column;
            align-items: start;
            gap: 30px;
            border-radius: 15px;
    
            position: absolute;
            top: 0px;

            .user-name {
                display: block;
                margin-top: 8px;
                font-size: 30px;
                font-weight: 300;

                .span-block {
                    display: block;
                    margin-top: 5px;
                }
            }

           } 

            .report-period {
                flex-direction: column;
                align-items: start;
                padding: 33px 32px;
                gap: 24px;
    
                & input {
                    position: absolute;
                    visibility: hidden;
                }
    
            }   


        }


    }

    .hours {
        flex-direction: column;
        gap: 10px;
        align-items: start !important;

       

        strong {
            font-size: 35px !important;
            font-weight: 100 !important;
        }
        
    
        .hours span {
            font-size: 10px;
        }
    }
    
}



@media only screen and (min-width: 1110px) {

    main {

        max-width: 1024px;
        margin-top: 150px;
        display: grid;
        padding: 0px;
        gap: 0px;
        column-gap: 30px;
        row-gap: 30px;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr;

        .jeremy-robson-div {
            grid-column: 1 / 2;
            grid-row: 1 / 4;
            height: calc(100% - 30px);
        }

        .report {
            
            min-height: 225px;

            .report-details {
                z-index: 4;
                bottom: 0;
                border-radius: 15px;
                padding: 29px 30px 32px 30px;
                box-sizing: border-box;

                .hours {                    
                    margin-top: 15px;

                    strong {
                        font-size: 56px !important;
                    }
                }

            }
        }

    }
    
}


.display-none {
    display: none;
}

.color-white {
    color: #FFFFFF !important;
}

