body {
  background-color: #0E1323;
  color: #FFFFFF; }

main {
  padding: 81px 24px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  gap: 24px; }
  main .jeremy-robson-div {
    position: relative;
    width: 100%;
    height: 203px;
    border-radius: 15px;
    background-color: #1C204B;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: start; }
  main .report-for-div {
    background-color: #5747EA;
    width: 100%;
    padding: 35px 32px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    gap: 20px;
    border-radius: 15px;
    position: absolute;
    top: 0px; }
    main .report-for-div .user-img {
      width: 64px;
      border: 3px solid #FFFFFF;
      border-radius: 100%; }
    main .report-for-div div span {
      display: block;
      font-size: 15px;
      font-weight: 400;
      color: #BBC0FF; }
    main .report-for-div div .user-name {
      font-size: 24px;
      font-weight: 400;
      color: #FFFFFF; }
  main .report-period {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 25px 0px;
    box-sizing: border-box; }
    main .report-period input {
      position: absolute;
      visibility: hidden; }

.report {
  width: 100%;
  height: 160px;
  border-radius: 15px;
  background-color: #1C204B;
  position: relative; }
  .report .report-background {
    height: 100%;
    border-radius: 15px;
    overflow: hidden;
    position: relative; }
    .report .report-background .background {
      width: 100%;
      height: 100%;
      background-color: #ff8b64;
      position: absolute;
      z-index: 3;
      opacity: 0.8; }
    .report .report-background img {
      position: absolute;
      z-index: 2;
      right: 18px;
      top: -15px; }
  .report .report-details {
    background-color: #1C204B;
    position: absolute;
    width: 100%;
    z-index: 4;
    bottom: 0;
    border-radius: 15px;
    padding: 28px 24px;
    box-sizing: border-box; }
    .report .report-details div {
      display: flex;
      justify-content: space-between;
      align-items: center; }
    .report .report-details div:last-child {
      margin-top: 8px; }
      .report .report-details div:last-child strong {
        font-size: 32px;
        font-weight: 400;
        color: #FFFFFF; }
      .report .report-details div:last-child span {
        font-size: 15px;
        font-weight: 400;
        color: #BBC0FF; }

.display-none {
  display: none; }
