body {
  background-color: #0E1323;
  color: #FFFFFF; }

main {
  padding: 81px 24px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  gap: 24px; }
  main .div-gen {
    width: 100%;
    height: 203px;
    border-radius: 15px;
    background-color: #1C204B;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: start; }
  main .jeremy-robson-div {
    position: relative; }
  main .report-for-div {
    background-color: #5747EA;
    width: 100%;
    padding: 35px 32px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    gap: 20px;
    border-radius: 15px;
    position: absolute;
    top: 0px; }
    main .report-for-div .user-img {
      width: 64px;
      border: 3px solid #FFFFFF;
      border-radius: 100%; }
    main .report-for-div div span {
      display: block;
      font-size: 15px;
      font-weight: 400;
      color: #BBC0FF; }
    main .report-for-div div .user-name {
      font-size: 24px;
      font-weight: 400;
      color: #FFFFFF; }
  main .report-period {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 25px 0px;
    box-sizing: border-box; }
    main .report-period input {
      position: absolute;
      visibility: hidden; }
